<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taoing.licensingservice.mapper.LicenseMapper">
  <resultMap id="BaseResultMap" type="com.taoing.licensingservice.model.License">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="organization_id" jdbcType="INTEGER" property="organizationId" />
    <result column="license_type" jdbcType="VARCHAR" property="licenseType" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="license_max" jdbcType="INTEGER" property="licenseMax" />
    <result column="license_allocated" jdbcType="INTEGER" property="licenseAllocated" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, organization_id, license_type, product_name, license_max, license_allocated, 
    remark
  </sql>
</mapper>